/* Metaviz Node Point */

.metaviz-node-point::before {
    content: "";
    border-radius: 50%;
    border: 4px solid white;
    background-color: transparent;
    transform: translate(-4px, -4px);
    width: 12px;
    height: 12px;
    position: absolute;
}

/* Miniature */

.metaviz-node-point.miniature {
    border-radius: 50%;
    border: 4px solid var(--paper-2);
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.metaviz-node-point.miniature::before {
    display: none;
}
