/* Metaviz Node Dummy */

.metaviz-node-dummy {
    background-color: rgba(183, 139, 139, 0.5);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metaviz-node-dummy .info {
    color: white;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    width: 100%;
}
