/* Metaviz Node Label */

/*** Style: Label ***/

/* Color 0 */

.metaviz-node-label.style-label {
    border: 1px solid #d3d3d3;
}

.metaviz-node-label.style-label.color-0 {
    background-color: var(--paper-1);
}

.metaviz-node-label.style-label.color-0 .metaviz-control-input {
    color: var(--font-color-2);
    caret-color: black;
}

.metaviz-node-label.style-label.color-0.drag {
    background-color: var(--paper-1-trans);
}

/* Color 1 */

.metaviz-node-label.style-label.color-1 {
    background-color: var(--metaviz-color-darkblue);
}

.metaviz-node-label.style-label.color-1 .metaviz-control-input {
    color: white;
    caret-color: white;
}

.metaviz-node-label.style-label.color-1.drag {
    background-color: var(--metaviz-color-darkblue-trans);
}

/* Color 2 */

.metaviz-node-label.style-label.color-2 {
    background-color: var(--metaviz-color-navy);
}

.metaviz-node-label.style-label.color-2 .metaviz-control-input {
    color: white;
    caret-color: white;
}

.metaviz-node-label.style-label.color-2.drag {
    background-color: var(--metaviz-color-navy-trans);
}

/* Color 3 */

.metaviz-node-label.style-label.color-3 {
    background-color: var(--color-jade);
}

.metaviz-node-label.style-label.color-3 .metaviz-control-input {
    color: white;
    caret-color: white;
}

.metaviz-node-label.style-label.color-3.drag {
    background-color: var(--color-jade-trans);
}

/* Color 4 */

.metaviz-node-label.style-label.color-4 {
    background-color: rgb(244, 201, 50);
}

.metaviz-node-label.style-label.color-4 .metaviz-control-input {
    color: var(--font-color-2);
    caret-color: black;
}

.metaviz-node-label.style-label.color-4.drag {
    background-color: rgba(244, 201, 50. 0.69);
}

/* Color 5 */

.metaviz-node-label.style-label.color-5 {
    background-color: rgb(232, 145, 145);
}

.metaviz-node-label.style-label.color-5 .metaviz-control-input {
    color: var(--font-color-2);
    caret-color: black;
}

.metaviz-node-label.style-label.color-5.drag {
    background-color: rgba(232, 145, 145, 0.69);
}

/*** Style: Bubble ***/

/* Color 0 */

.metaviz-node-label.style-bubble {
    border-radius: 20px;
    border: 3px solid var(--paper-2);
    background: transparent;
    font-weight: bold;
}

.metaviz-node-label.style-bubble.color-0 .metaviz-control-input {
    color: var(--paper-2);
    caret-color: var(--paper-2);
}

/* Color 1 */

.metaviz-node-label.style-bubble.color-1 {
    border-color: var(--metaviz-color-sky);
}

.metaviz-node-label.style-bubble.color-1 .metaviz-control-input {
    color: var(--metaviz-color-sky);
    caret-color: var(--metaviz-color-sky);
}

.metaviz-node-label.style-bubble.color-1.drag {
    border-color: var(--metaviz-color-sky-trans);
}

/* Color 2 */

.metaviz-node-label.style-bubble.color-2 {
    border-color: var(--metaviz-color-navy);
}

.metaviz-node-label.style-bubble.color-2 .metaviz-control-input {
    color: var(--metaviz-color-navy);
    caret-color: var(--metaviz-color-navy);
}

.metaviz-node-label.style-bubble.color-2.drag {
    border-color: var(--metaviz-color-navy-trans);
}

/* Color 3 */

.metaviz-node-label.style-bubble.color-3 {
    border-color: var(--color-jade);
}

.metaviz-node-label.style-bubble.color-3 .metaviz-control-input {
    color: var(--color-jade);
    caret-color: var(--color-jade);
}

.metaviz-node-label.style-bubble.color-3.drag {
    border-color: var(--color-jade-trans);
}

/* Color 4 */

.metaviz-node-label.style-bubble.color-4 {
    border-color: rgb(244, 201, 50);
}

.metaviz-node-label.style-bubble.color-4 .metaviz-control-input {
    color: rgb(244, 201, 50);
    caret-color: black;
}

.metaviz-node-label.style-bubble.color-4.drag {
    border-color: rgba(244, 201, 50. 0.69);
}

/* Color 5 */

.metaviz-node-label.style-bubble.color-5 {
    border-color: rgb(232, 145, 145);
}

.metaviz-node-label.style-bubble.color-5 .metaviz-control-input {
    color: rgb(232, 145, 145);
    caret-color: black;
}

.metaviz-node-label.style-bubble.color-5.drag {
    border-color: rgba(232, 145, 145, 0.69);
}

/*** Style: Only Text ***/

.metaviz-node-label.style-text {
    background-color: transparent;
}

/* Color 0 */

.metaviz-node-label.style-text.color-0 .metaviz-control-input {
    color: var(--paper-2);
}

/* Color 1 */

.metaviz-node-label.style-text.color-1 .metaviz-control-input {
    color: var(--metaviz-color-darkblue);
}

/* Color 2 */

.metaviz-node-label.style-text.color-2 .metaviz-control-input {
    color: var(--metaviz-color-navy);
}

/* Color 3 */

.metaviz-node-label.style-text.color-3 .metaviz-control-input {
    color: var(--color-jade);
}

/* Color 4 */

.metaviz-node-label.style-text.color-4 .metaviz-control-input {
    color: rgb(244, 201, 50);
}

/* Color 5 */

.metaviz-node-label.style-text.color-5 .metaviz-control-input {
    color: rgb(232, 145, 145);
}

/*** Style: Underline ***/

.metaviz-node-label.style-underline {
    background-color: transparent;
}

/* Color 0 */

.metaviz-node-label.style-underline.color-0 {
    border-bottom: 10px solid var(--paper-2);
}

.metaviz-node-label.style-underline.color-0 .metaviz-control-input {
    color: var(--paper-2);
}

/* Color 1 */

.metaviz-node-label.style-underline.color-1 {
    border-bottom: 10px solid var(--metaviz-color-darkblue);
}

.metaviz-node-label.style-underline.color-1 .metaviz-control-input {
    color: var(--metaviz-color-darkblue);
}

/* Color 2 */

.metaviz-node-label.style-underline.color-2 {
    border-bottom: 10px solid var(--metaviz-color-navy);
}

.metaviz-node-label.style-underline.color-2 .metaviz-control-input {
    color: var(--metaviz-color-navy);
}

/* Color 3 */

.metaviz-node-label.style-underline.color-3 {
    border-bottom: 10px solid var(--color-jade);
}

.metaviz-node-label.style-underline.color-3 .metaviz-control-input {
    color: var(--color-jade);
}

/* Color 4 */

.metaviz-node-label.style-underline.color-4 {
    border-bottom: 10px solid rgb(244, 201, 50);
}

.metaviz-node-label.style-underline.color-4 .metaviz-control-input {
    color: rgb(244, 201, 50);
}

/* Color 5 */

.metaviz-node-label.style-underline.color-5 {
    border-bottom: 10px solid rgb(232, 145, 145);
}

.metaviz-node-label.style-underline.color-5 .metaviz-control-input {
    color: rgb(232, 145, 145);
}

/*** Main ***/

.metaviz-node-label {
    border-radius: 5px;
}

/* Input */

.metaviz-node-label .metaviz-control-input {
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    line-height: 100cqh;
    background-color: transparent;
    text-align: center;
    font-size: min(80cqw, 80cqh);
}

/* Placeholder */

.metaviz-node-label .metaviz-control-input .placeholder {
    width: 100%;
    height: 100%;
}

.metaviz-node-label.color-0 .metaviz-control-input .placeholder {
    color: #777;
}

.metaviz-node-label.color-1 .metaviz-control-input .placeholder {
    color: #249cff;
}

.metaviz-node-label.color-2 .metaviz-control-input .placeholder {
    color: #afbcdd;
}

.metaviz-node-label.color-3 .metaviz-control-input .placeholder {
    color: #41e1c1;
}

.metaviz-node-label.color-4 .metaviz-control-input .placeholder {
    color: #8c7639;
}

.metaviz-node-label.color-5 .metaviz-control-input .placeholder {
    color: #b45757;
}

/* Miniature */

.metaviz-node-label.miniature {
    color: var(--paper-2);
    border: 2px solid var(--paper-2);
    background-color: transparent;
    width: 40px;
    height: 20px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

/* Menu options */

.menu-select-option[data-value="Allura"] .text,
.popover-option-text[data-value="Allura"] {
    font-family: "Allura";
    font-size: 16px;
    margin-top: 3px;
}

.menu-select-option[data-value="Bangers"] .text,
.popover-option-text[data-value="Bangers"] {
    font-family: "Bangers";
    font-size: 13px;
}

.menu-select-option[data-value="Lemon"] .text,
.popover-option-text[data-value="Lemon"] {
    font-family: "Lemon";
    font-size: 13px;
}

.menu-select-option[data-value="Mansalva"] .text,
.popover-option-text[data-value="Mansalva"] {
    font-family: "Mansalva";
    font-size: 13px;
}

.menu-select-option[data-value="Oswald"] .text,
.popover-option-text[data-value="Oswald"] {
    font-family: "Oswald";
    font-size: 13px;
}

.menu-select-option[data-value="Playfair Display"] .text,
.popover-option-text[data-value="Playfair Display"] {
    font-family: "Playfair Display";
    font-size: 13px;
}

.menu-select-option[data-value="Roboto"] .text,
.popover-option-text[data-value="Roboto"] {
    font-family: "Roboto";
    font-size: 13px;
}

.menu-select-option[data-value="Source Code Pro"] .text,
.popover-option-text[data-value="Source Code Pro"] {
    font-family: "Source Code Pro";
    font-size: 13px;
}

/* Popover */

.popover-icon-label-basic {
    width: 20px;
    height: 14px;
    color: var(--font-color-2);
    background-color: var(--paper-1);
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    font-size: 12px;
}

.popover-icon-label-bubble {
    position: relative;
    width: 20px;
    height: 14px;
    color: var(--paper-2);
    background-color: transparent;
    border: 1px solid var(--paper-2);
    border-radius: 8px;
    font-size: 12px;
}

.popover-icon-label-bubble::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: 20px;
    height: 14px;
    border-radius: 8px;
    border: 2px solid var(--paper-2);
}

.popover-icon-label-text {
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: var(--paper-2);
}

.popover-icon-label-underline {
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: var(--paper-2);
    text-decoration: underline;
}
